section {
  margin: 0;
}

header {
  background-color: red;
  height: 100px;
  color: white;
}

main {
  margin: 0;
}

.icon1 {
  transform: rotate(-30deg);
}

.icon2 {
  transform: rotate(-150deg);
}

.icon3 {
  transform: rotate(30deg);
}

.icon4 {
  transform: rotate(150deg);
}

.art-holder {
  text-align: center;
}

i {
  margin: 1em 0;
}

i:hover {
  color: red;
  font-weight: bold;
}

footer {
  background-color: red;
  height: 50px;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
}
